<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.dao.UserDao">
    <select id="selectAll" resultType="User">
        SELECT *
        FROM users
    </select>

    <select id="selectOne" parameterType="String" resultType="User">
        SELECT id, userid, password
        FROM users
        WHERE userid = #{id}
    </select>

    <insert id="insertUser" parameterType="User">
        INSERT INTO users
        VALUES (#{id}, #{userid}, #{password})
    </insert>

</mapper>